.collection-page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;

  .title {
    font-size: 38px;
    margin: 30px auto 30px auto;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .collection-item {
      margin-bottom: 30px;
      width: 23%;
    }
  }
}

@media (max-width: 768px) {
  .collection-page {
    .items {
      & .collection-item {
        margin-bottom: 30px;
        width: 48%;
      }
    }
  }
}
